* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

body,
html {
  min-height: 100%;
  height: 100%; }

a {
  color: #000;
  cursor: pointer;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.shadow-background:after {
  background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0; }

.model-thumb-wrapper {
  opacity: 0.4;
  transition: opacity .2s; }
  .model-thumb-wrapper:hover {
    opacity: 1; }

.model-list-item-footer {
  align-items: center;
  bottom: 6px;
  color: #fff;
  display: flex;
  font-size: 12px;
  padding: 0 8px;
  position: absolute;
  width: 100%;
  z-index: 1; }

.model-list-item-footer .model-name {
  max-width: calc(100% - 17px);
  overflow: hidden;
  text-overflow: ellipsis; }

.model-list-item-footer-left {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%; }
  .model-list-item-footer-left .model-name {
    margin-right: 5px; }

.model-list-item-footer-right {
  display: flex;
  align-items: center; }

.model-list-item-header {
  display: flex;
  left: 5px;
  position: absolute;
  top: 5px;
  z-index: 1; }

.live-badge-wrapper {
  background-color: #00bd8f;
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  padding: 2px 5px 2px 0; }
  .live-badge-wrapper .live-badge {
    display: flex;
    align-items: center; }
  .live-badge-wrapper .status-online {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px; }

.model-thumb-wrapper.model-thumb-title-outside {
  margin: 5px 5px 30px 5px; }
  .model-thumb-wrapper.model-thumb-title-outside:hover .model-name {
    color: #a2262e; }
  .model-thumb-wrapper.model-thumb-title-outside .model-list-item-footer {
    bottom: -24px;
    color: #000;
    font-size: 1em;
    font-weight: 700;
    padding-left: 0; }
  .model-thumb-wrapper.model-thumb-title-outside .gender-icon {
    height: 20px;
    width: 20px; }

.icon {
  height: 17px;
  width: 17px; }

.layout-container,
.widget-container {
  height: 100%;
  width: 100%; }

body {
  font-family: Arial, sans-serif; }

.sc-red-color {
  color: #a2262e; }

.widget-title {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0;
  max-height: 42px; }

.widget-title .action-button-wrapper {
  margin: 0 10px; }

.widget-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center; }

.models-list-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
  justify-content: center; }

.models-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  overflow: hidden; }

.model-thumb-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 5px; }
  .model-thumb-wrapper:hover .play-icon-wrapper {
    display: none; }

.canvas-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: relative; }

.action-button-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
  z-index: 1;
  align-items: center; }

.action-button {
  padding: 6px 18px;
  border-radius: 10px; }

.action-button-red-background {
  border-color: #e34449;
  background: #e34449;
  color: #fff; }

@media screen and (max-height: 325px) {
  .widget-title {
    margin: 5px; }
  .action-button-wrapper {
    margin: 5px; }
  .model-thumb-wrapper.model-thumb-title-outside {
    margin: 5px; }
  .model-list-item-footer {
    display: none; } }
